*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 211, 211);
}
.calc{
     box-shadow: 6px 6px 13px rgb(164, 149, 149),6px 6px 13px rgb(50, 47, 47);
     border-radius: 28px;
     padding: 16px;
     display: grid;
     grid-template-columns: repeat(4,66px);
     background-color: rgb(255, 255, 255);
}
input{
    grid-column: span 4;
    height: 65px;
    width: 260px;
    box-shadow:inset -6px -6px 13px rgb(250, 210, 210),
    inset 6px 6px 13px black;
    background-color: rgb(217, 201, 201);
    border: none;
    border-radius: 30px;
    color: rgb(41, 38, 38);
    text-align: end;
    margin: 10px 0 10px 0;
    padding: 40px;
    font-size: 40px;
}
button{
    box-shadow: inset 6px 6px 16px rgb(240, 91, 12),
    6px 6px 13px black;
    background-color: rgb(255, 115, 0);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}
.equal{
    width: 120px;
    border-radius: 40px;
    box-shadow: inset 6px 6px 16px rgb(255, 0, 91),
    6px 6px 13px black;
    background-color: rgb(255, 0, 183);
}